# fans & LEDs

# Fans

[fan]
pin: PA0

[heater_fan fan1]
pin: PA2
shutdown_speed: 1

[heater_fan fan2]
pin: PA1

[fan_generic fan3]
pin: PA3

# LEDs

#####################################################################
# LED Control
#####################################################################

[gcode_macro LED_FRAME_ON]
description: Turn on the Frame LEDs
gcode:
  SET_PIN PIN=caselight1 VALUE=1

[gcode_macro LED_FRAME_OFF]
description: Turn off the Frame LEDs
gcode:
  SET_PIN PIN=caselight1 VALUE=0

[gcode_macro LED_NOZZLE_ON]
description: Turn on the Nozzle LED
gcode:
  SET_PIN PIN=caselight VALUE=1

[gcode_macro LED_NOZZLE_OFF]
description: Turn off the Nozzle LED
gcode:
  SET_PIN PIN=caselight VALUE=0

# LED above
#[fan_generic led_fan4]
#pin: PA4
#max_power: 0.8 # Controls brightness (1.0 is full power)

# LED hotend
#[fan_generic led_fan5]
#pin: PA5
#max_power: 0.8
